h1{
    background-color: blueviolet;
}

.choise{

    height: 165px;
    width: 165px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choises{

    display: flex;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;
    gap: 3rem;
}


.choise:hover{
    opacity: 0.5;
}

.score-board{
    display: flex;
    justify-content: center ;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 #msg{
    font-size: 2rem;
   /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: coral;
    color: black;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    margin-top: 5rem;
}